.wp-block-vrodos-vrodos-3d-block {
    background-image: url("../images/VRodos_icon_32tr.png");
    border: 1px solid black;
    padding: 20px;
    background-repeat: no-repeat;
    color:black;
    /*background-color: rgb(188, 172, 163);*/
}

