.DarkBackgroundColor {
	background: rgba(0, 0, 0, .4);
}

.FrontPageStyle {
	min-height: 500px;
}

label {
	margin-bottom: 0;
}

.NewGameLabel {
	display: block;
}

.WhiteSpaceSeparator {
	margin-top:30px;
	margin-bottom: 30px;
	border:0;
	color:white;
	display:table;
}

.CenterContents {
	text-align: center;
	float: left;
	margin: 15pt;
}


.LinkDisabled {
	pointer-events: none;
	cursor: default;
	opacity: .54;
}

/* Breadcrumbs style */
ul.EditPageBreadcrumb {
	list-style: none;
	margin: -6px 0 0 0;
}

/* Display list items side by side */
ul.EditPageBreadcrumb li {
	display: inline;
}


.EditPageBreadcrumbSelected {
	font-weight: 700;
}

.EditPageBreadcrumbArr {
	transform: rotate(90deg);
	padding:0 0 0 16px;
	margin:0 -14px 0 -14px;
}

.PageHeaderStyle {
	display: inline-block;
	width: 100%;
	height: auto;
	position: relative;
}

.PageHeaderStyle h1, .EditPageHeader h1 {
	width: auto;
	display: inline-block;
}




/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
a.EditPageAccordion {
	width: auto;
	text-align: left;
	font-weight: 500;
	transition: 0.4s;
	margin-bottom: 24px;
}

a.EditPageAccordion.active {
	font-weight: 800;
}

i.ButtonIcon {
	vertical-align: text-bottom;
	font-size:20px;
}



/* Style the accordion panel. Note: hidden by default */
.EditPageAccordionPanel {
	padding: 0 18px;
	max-height: 0;
	height: 100%;
	overflow: hidden;
	display: block;
	transition: max-height 0.2s ease-out;
}

.RadioButtonList li {
	display: flex;
}
.RadioButtonList li label {
	cursor: pointer;
	margin-bottom: 0;
}


.FullWidth {
	width: 100%;
}

.DisplayBlock {
	display: block;
	width: 100%;
	height: 100%;
}

.AddNewAssetBtnStyle {
	float: right;
}


@media screen and (max-width: 479px) {
	.AddNewAssetBtnStyle {
		float: left;
		margin: 12px 0 12px 0;
	}
}

.AlignIconToBottom {
	vertical-align: bottom;
}

.AlignIconToMiddle {
	vertical-align: sub;
}

.progressSlider{
	display: block;
	position: relative;
	width: 100%;
	height: 4px;
	overflow: hidden;
}

.progressSliderLine{
	position:absolute;
	opacity: 0.4;
	background: #3F51B5;
	width: 150%;
	height: 5px;
}

.progressSliderSubLine, .progressSliderSubLineDeterminate {
	position: absolute;
	background: #3F51B5;
	height: 5px;
}

.progressSliderSubLineDeterminate {
	left: 0;
}


.progressIncrease{
	animation: increase 2s infinite;
}
.progressDecrease{
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	from { left: -5%; width: 5%; }
	to { left: 130%; width: 100%;}
}
@keyframes decrease {
	from { left: -80%; width: 80%; }
	to { left: 110%; width: 10%;}
}


/*Override default theme to correctly show jQuery UI styles*/
.ui-slider .ui-slider-handle:last-child {
	margin-left: 0 !important;
}

.ui-slider .ui-slider-handle {
	position: absolute !important;
	z-index: 2 !important;
	width: 1.2em !important;
	height: 1.2em !important;
	top: auto !important;
}

.ui-slider .ui-slider-handle::before {
	border: none;
	width: 1.2em !important;
	height: 1.2em !important;
	background-color: transparent;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	content: none !important;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em !important;
	margin-left: -.6em !important;
}

.ui-slider .ui-slider-handle:last-child { cursor: pointer; }


.ColorPickerSliderRed,
.ColorPickerSliderGreen,
.ColorPickerSliderBlue,
.ColorPickerSliderAlpha {
	clear: left;
	width: 100%;
	margin: 25px 15px 34px 15px;
}

.ColorPickerPreview {
	height: 170px;
	margin-top: 18px;
	background-image: none;
	width: 100%;
}

.ColorPickerSliderRed .ui-slider-range { background: #ef2929; }
.ColorPickerSliderRed .ui-slider-handle { border-color: #ef2929; }
.ColorPickerSliderGreen .ui-slider-range { background: #8ae234; }
.ColorPickerSliderGreen .ui-slider-handle { border-color: #8ae234; }
.ColorPickerSliderBlue .ui-slider-range { background: #729fcf; }
.ColorPickerSliderBlue .ui-slider-handle { border-color: #729fcf; }

.asset-image-tile-style {
	-webkit-filter: saturate(70%); /* Safari 6.0 - 9.0 */
	filter: saturate(70%);
	-webkit-transition: -webkit-filter 0.16s linear; /* Safari */
	transition: filter 0.16s;
	cursor: pointer;
}

.asset-image-tile-style:hover {
	-webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
	filter: saturate(100%);
	-webkit-transition: -webkit-filter 0.16s linear; /* Safari */
	transition: filter 0.16s;
	cursor: pointer;
}

.connectedSortable {
	cursor: pointer;
}

.connectedSortable li {
	list-style-type: none;
	list-style-image: none;
}

.CursorPointer {
	cursor: pointer;
}

.CursorDefault {
	cursor: default;
}

.TextUnselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* jimver04 additions */
#backtotop {
	z-index : 100 !important;
}

#header.sticky-header {
	z-index: 100 !important;
}



.editasseturl {
	height: 100%;
	display: flex;
}




.asset-shared-thumbnail {
	width: 100%;
	/*max-width:265px;*/
	height:100% !important;
	/*min-height:100px;*/
	/*max-height:150px;*/
}

.sharedAssetsIndicator {
	bottom: 0;
	right: 0;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
}

.assetsListCardTitle{
	top: 0;
	left: 5px;
	position: absolute;
	padding-top: 0px !important;
	font-size:12pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow:2px 2px 5px #fff;
	max-width:70%;
}

.sharedAssetsUsername {
	top: 25px;
	left: 8px;
	position: absolute;
	/*text-shadow:4px 4px 6px #fff;*/
	/*mix-blend-mode: difference;*/
}

.assetsListCardCategory{
	top: 50px;
	left: 8px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow:2px 2px 5px #fff;
	font-size:10pt;
	max-width:90%;
	padding-top:5px;
}


.deleteAssetListButton{
	top: 0px;
	right: 0px;
	position: absolute;
	font-size:10pt;
	padding:2px !important;
	height:25px !important;
	padding-top:10px;
	min-width:20px;
	line-height: 1.6em;
}


.assetsListCard {
	padding:10px;
	padding-top:0px;
	padding-bottom:0px;
}

#imgDetailsPanel_preview{
	display: inline-block;
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
}




.assetsListCardActions{
	padding:0px !important;
}





.editAssetListButton{
	font-size:8pt;
}

.addAssetCardIcon{
	font-size:52pt;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	position:absolute;
}

.addAssetCardWords {
	font-size: 12pt;
	transform: translate(-50%, -50%);
	top: 90%;
	left: 50%;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	display:block;
}




/*Language tabs front-end*/
.wrapper_lang {
	position: relative;
}

.tab-container_lang {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
}


.tab-container_lang:target { display: block}
.tab-container_lang:not(:target) { display: none !important }














#content {
	padding:0!important;
}

video {
	width: 100%;
	height: auto;
}

/*Carousel in asset view*/

.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	mix-blend-mode: difference;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	mix-blend-mode: luminosity;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	/*background-color: #717171;*/
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}


.sidebar-shared-assets-front {
	width: 35%;
	float: right;
	top: 0;
	right: 0;
	padding-right: 15px;
	position:absolute;

}

@media only screen and (max-width: 1024px) {
	.sidebar-shared-assets-front {display: none;}
}

.assets-list-front {
	/*width:60%;*/
	float:left;
	padding-top:5px;
	padding-left:5px;
}

@media only screen and (max-width: 1024px) {
	.assets-list-front {width: 100%;}
}


@media only screen and (min-width: 801px) and (max-width: 1024px) {
	.grid-system-custom {grid-template-columns: repeat(12, minmax(0, 1fr))}
}

@media only screen and (min-width: 601px) and (max-width: 801px) {
	.grid-system-custom {grid-template-columns: repeat(9, minmax(0, 1fr))}
}


@media only screen and (max-width: 600px) {
	.grid-system-custom {grid-template-columns: repeat(1, minmax(0, 1fr))}
}

#colophon {
	margin:5px;
}




/* Style the tab */
.tab2 {
	overflow: hidden;
	border: 1px solid #fff;
	background-color: #f1f1f1;
}



/* Style the buttons inside the tab */
.tab2 button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
	background-color: #fff !important;
}

/* Style the tab content */
.tabcontent2 {
	display: none;
	padding: 6px 12px;
	border: 1px solid #fff;
	border-top: none;
}

.tabcontent2 active {

	background-color: #fff !important;
}









/* ----------- Asset Editor -----------------*/

.asset_editor_style {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	height: 100%;
	background: white;
}

.asset_editor_textpanel {
	padding: 16px;
	border: 0;
	z-index: 1000;
	overflow-y: auto;
	position: absolute;
	display: block;
	/* Default landscape/desktop styles */
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
}

.asset_editor_3dpanel {
	position: absolute;
	display: block;
	z-index: 1;
	/* Default landscape/desktop styles */
	top: 0;
	right: 0;
	width: 58%;
	height: 100%;
}

/* Portrait/mobile styles */
@media only screen and (max-width: 792px) {
	.asset_editor_textpanel {
		width: 100%;
		height: 40%;
		top: auto;
		bottom: 0;
		left: 0;
	}

	.asset_editor_3dpanel {
		width: 100%;
		height: 60%;
		top: 0;
		right: auto;
		left: 0;
	}
}

.centerMessageAssetSubmit {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.assetDescSt {border: 1px solid rgba(0, 0, 0, 0.3);width:100%;}

#previewProgressLabel{
	position: absolute; left:0; right: 0; top: 26px;color:white !important; mix-blend-mode: difference;
}

#previewProgressLabelSingle{
	left:0; right: 0; top: 26px;color:white !important; mix-blend-mode: difference;
}

input[type=checkbox] {
	-webkit-appearance: auto;
}

body.admin-bar .asset_editor_style {
	top: 32px;
}