.button-tab {
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.mdc-tab {
    background-color: rgba(255, 255, 255, .54);
    color: rgba(0, 0, 0, .23);
}

.mdc-tab--active {
    background-color: white;
    color: black;
}

.ChatWrapperStyle {
    position: absolute;
    bottom: 0;
    height: auto;
}

.ChatWrapperStyleExpanded {
    position: absolute;
    height: auto;
}

.ChatMessagesStyle {
    width: 450px;
    background-color: rgba(0, 0, 0, .7);
    overflow: auto;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ccc;
    text-shadow: 1px 1px 2px black;
}

.ChatMessagesStyleNormal {
    height: 200px;
    position: relative;
}

.ChatMessagesStyleExpanded {
    height: 100%;
    position: fixed;
}

.ChatMessagesStyleMinimized {
    height: 0;
    position: relative;
}

.IconButtonStyle {
    background-color: transparent;
    cursor: pointer;
    border: none;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    padding: 0 2px 0 2px;
}

.IconButtonStyle i {
    text-shadow: 0 0 3px #fff;
}

.AvatarTypeSelection img {
    display: block;
}

.AvatarTypeSelection label {
    /*width: 20vw;
    height: 20vw;*/
    padding: 1vw;
}

.AvatarTypeSelection input[type=radio] {
    display: none;
}

.AvatarTypeSelection label:hover {
    opacity: 0.6;
    cursor: pointer;
}

.AvatarTypeSelection label:active {
    opacity: 0.4;
    cursor: pointer;
}

.AvatarTypeSelection input[type=radio]:checked+label {
    border: 10px solid rgb(228, 207, 94);
}
